@page
@model GroupStudyUI.Pages.GroupModel
@{
    ViewData["Title"] = "Group";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <link href="./css/group.css" rel="stylesheet" type="text/css">
    <link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">


</head>

<body>

    <!--======= welcome section on top background=====-->
    <section class="welcome-part-one">
        <div class="container">
            <div class="welcome-demop102 text-center">
                <h2>Welcome to @Model.Group.Name</h2>
                <p>
                    @Model.Group.Description
                </p>
                <div class="form-style8292">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control form-control8392" placeholder="Find your question in this group"> <span class="input-group-addon"><a href="#">Search</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ======content section/body=====-->
    <section class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div id="main">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label for="tab1"><i class="zmdi zmdi-time-restore"></i> Recent Posts </label>
                        <input id="tab2" type="radio" name="tabs">
                        <label for="tab2"> <i class="zmdi zmdi-thumb-up"></i> Your Posts </label>
                        <input id="tab3" type="radio" name="tabs">
                        <label for="tab3"> <i class="zmdi zmdi zmdi-time"></i> Wait for approve </label>
                        <input id="tab4" type="radio" name="tabs">
                        <label for="tab4"> <i class="zmdi zmdi-block"></i> Banned </label>

                        <section id="content1">
                            <!--Recent Question Content Section -->
                            @foreach (var post in Model.listPostsSortByDate)
                            {
                                <div class="question-type2033">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="left-user12923 left-user12923-repeat">
                                                <a href="#"><img src="~/imgs/default_avatar.png" alt="image"> </a>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="right-description893">
                                                <div id="que-hedder2983">
                                                    <h3><a href="/PostDetail" target="_blank">@post.PostTitle</a></h3>
                                                </div>
                                                <div class="ques-details10018">
                                                    <p>@post.Content</p>
                                                </div>
                                                <hr />
                                                <div class="ques-icon-info3293">
                                                    <p style="margin-right: 20px"><i class="zmdi zmdi-time" aria-hidden="true"></i>@post.CreateTime.ToString("g")</p>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-folder" aria-hidden="true"></i>File Attach</a>
                                                    <a href="/PostDetail" target="_blank" style="margin-right: 20px"><i class="zmdi zmdi-help-outline" aria-hidden="true"></i>Answer Post</a>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-bug" aria-hidden="true"></i>Report</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="ques-type302">
                                                <a href="#">
                                                    <button type="button" class="q-type238"> @post.CommentOnPost answers </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </section>
                        <!--  End of content-1------>

                        <section id="content2">
                            <!--Most Your Post Section -->
                            @foreach (var post in Model.listPostsOfUser)
                            {
                                <div class="question-type2033">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="left-user12923 left-user12923-repeat">
                                                <a href="#"><img src="~/imgs/default_avatar.png" alt="image"> </a>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="right-description893">
                                                <div id="que-hedder2983">
                                                    <h3><a href="/PostDetail" target="_blank">@post.PostTitle</a></h3>
                                                </div>
                                                <div class="ques-details10018">
                                                    <p>@post.Content</p>
                                                </div>
                                                <hr />
                                                <div class="ques-icon-info3293">
                                                    <p style="margin-right: 20px"><i class="zmdi zmdi-time" aria-hidden="true"></i>@post.CreateTime.ToString("g")</p>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-folder" aria-hidden="true"></i>File Attach</a>
                                                    <a href="/PostDetail" target="_blank" style="margin-right: 20px"><i class="zmdi zmdi-help-outline" aria-hidden="true"></i>Answer Post</a>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-bug" aria-hidden="true"></i>Report</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="ques-type302">
                                                <a href="#">
                                                    <button type="button" class="q-type238"> @post.CommentOnPost answers </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </section>
                        <!----end of content-2----->

                        <section id="content3">
                            <!--Recent Pending Post Section -->
                            @foreach (var post in Model.listPostsPendingOfUser)
                            {
                                <div class="question-type2033">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="left-user12923 left-user12923-repeat">
                                                <a href="#"><img src="~/imgs/default_avatar.png" alt="image"> </a>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="right-description893">
                                                <div id="que-hedder2983">
                                                    <h3><a href="/PostDetail" target="_blank">@post.PostTitle</a></h3>
                                                </div>
                                                <div class="ques-details10018">
                                                    <p>@post.Content</p>
                                                </div>
                                                <hr />
                                                <div class="ques-icon-info3293">
                                                    <p style="margin-right: 20px"><i class="zmdi zmdi-time" aria-hidden="true"></i>@post.CreateTime.ToString("g")</p>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-folder" aria-hidden="true"></i>File Attach</a>
                                                    <a href="/PostDetail" target="_blank" style="margin-right: 20px"><i class="zmdi zmdi-help-outline" aria-hidden="true"></i>Answer Post</a>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-bug" aria-hidden="true"></i>Report</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="ques-type302">
                                                <a href="#">
                                                    <button type="button" class="q-type238"> @post.CommentOnPost answers </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </section>

                        <section id="content4">
                            <!--Recent Banned Post Section -->
                            @foreach (var post in Model.listPostsBannedOfUser)
                            {
                                <div class="question-type2033">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="left-user12923 left-user12923-repeat">
                                                <a href="#"><img src="~/imgs/default_avatar.png" alt="image"> </a>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="right-description893">
                                                <div id="que-hedder2983">
                                                    <h3><a href="/PostDetail" target="_blank">@post.PostTitle</a></h3>
                                                </div>
                                                <div class="ques-details10018">
                                                    <p>@post.Content</p>
                                                </div>
                                                <hr />
                                                <div class="ques-icon-info3293">
                                                    <p style="margin-right: 20px"><i class="zmdi zmdi-time" aria-hidden="true"></i>@post.CreateTime.ToString("g")</p>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-folder" aria-hidden="true"></i>File Attach</a>
                                                    <a href="/PostDetail" target="_blank" style="margin-right: 20px"><i class="zmdi zmdi-help-outline" aria-hidden="true"></i>Answer Post</a>
                                                    <a href="#" style="margin-right: 20px"><i class="zmdi zmdi-bug" aria-hidden="true"></i>Report</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="ques-type302">
                                                <a href="#">
                                                    <button type="button" class="q-type238"> @post.CommentOnPost answers </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </section>

                    </div>
                </div>
                <!--end of col-md-9 -->

                <!--strart col-md-3 (side bar)-->
                <aside class="col-md-3 sidebar97239">

                    <a href="/AskQuestion?groupId=@Model.Group.Id" class="btn btn-primary mb-3">
                        <i class="zmdi zmdi-edit" aria-hidden="true"></i> Write Your Post
                    </a>

                    <div class="status-part3821">
                        <h4>Group Stats</h4>
                        <i class="zmdi zmdi-comment-alt" aria-hidden="true"></i> Posts: @Model.TotalPostInGroup <br />
                        <i class="zmdi zmdi-accounts" aria-hidden="true"></i> Members: @Model.Group.memberAmount
                    </div>



                    <!--              highest part-->
                    <div class="highest-part302">
                        <h4>Most Comments</h4>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="~/imgs/default_avatar.png" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> <span class="points-details938">
                                <a href="#"><h5>Ahmed Hasan</h5></a>
                                <p>206 Comments</p>
                            </span>
                        </div>
                        <hr>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="~/imgs/default_avatar.png" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> <span class="points-details938">
                                <a href="#"><h5>Ahmed Hasan</h5></a>
                                <p>206 Comments</p>
                            </span>
                        </div>
                        <hr>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="~/imgs/default_avatar.png" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> <span class="points-details938">
                                <a href="#"><h5>Ahmed Hasan</h5></a>
                                <p>206 Comments</p>
                            </span>
                        </div>
                        <hr>
                        
                    </div>
                    <!--               end of Highest points -->

                </aside>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/npm.js"></script>
</body>

</html>