@page
@model GroupStudyUI.Pages.PostDetailModel
@{
	ViewData["Title"] = "Post Detail";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<link href="css/askqueststyle.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>

	<section class="main-content920">
		<div class="container">
			<div class="row">
				<div class="col-md-12">


					<div class="post-details">
						<div class="row">
							<div class="col-md-1">
								<div class="author-img202l">
									<a href="#"><img src="~/imgs/default_avatar.png" alt="image"> </a>
								</div>
							</div>
							<div class="col-md-11">
								<div class="details-header923">
									<div class="row">
										<div class="col-md-8">
											<h2 style="color: #37517e;">@Model.AuthorPost.Name</h2>
											<div class="post-title-left129">
												<h3>@Model.Post.PostTitle</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="post-details-info1982">
									<p>@Model.Post.Content</p>
									<hr>
									<div class="ques-icon-info3293">
										<p style="margin-right: 20px"><i class="zmdi zmdi-time" aria-hidden="true"></i>@Model.Post.CreateTime.ToString("g")</p>
										<a href="@Model.Post.fileURL" style="margin-right: 20px" target="_blank" download>
											<i class="zmdi zmdi-folder" aria-hidden="true"></i>File Attach
										</a>
										<a href="#" style="margin-right: 20px"><i class="zmdi zmdi-bug" aria-hidden="true"></i>Report</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					@*=================================*@

					<div class="comment-list12993">
						<div class="container">
							<div class="row">
								<div class="comments-container">
									<ul id="comments-list" class="comments-list">
										@foreach (var comment in Model.listAllCommentOfPost.Where(c => c.ChildComment == null))
										{
											<li>
												<div class="comment-main-level">
													<div class="comment-avatar">
														<img src="~/imgs/default_avatar.png" alt="">
													</div>
													<div class="comment-box">
														<div class="comment-head">
															<h6 class="comment-name">@comment.CommentUser.Name</h6>
															<span><i class="fa fa-clock-o" aria-hidden="true">@comment.CreateDate.ToString("g")</i></span>
														</div>
														<div class="comment-content">@comment.Content</div>
														<div class="comment-reply">
															<button class="reply-btn" style="background-color: #37517e; color: white; border-radius: 4px; padding: 5px 10px;">Reply</button>
														</div>

													</div>
													<div class="reply-form" style="float: right; display: none;">
														<form method="post" asp-page-handler="AddReply">
															<div class="post9320-box">
																<input type="hidden" name="postId" value="@Model.Post.Id" />
																<input type="hidden" name="replyCommentId" value="@comment.Id" />
																<input type="text" class="reply-input" placeholder="Enter Your Reply" name="content">
																<button type="submit" class="pos393-submit">Reply</button>
															</div>
														</form>
													</div>
												</div>


												@if (comment.ParentComment.Count > 0)
												{
													<ul class="comments-list reply-list">
														@foreach (var childCommentMap in comment.ParentComment)
														{
															var childComment = childCommentMap.SubComment;
															<li>
																<div class="comment-avatar">
																	<img src="~/imgs/default_avatar.png" alt="">
																</div>
																<div class="comment-box">
																	<div class="comment-head">
																		<h6 class="comment-name">@childComment.CommentUser.Name</h6>
																		<span><i class="fa fa-clock-o" aria-hidden="true">@childComment.CreateDate.ToString("g")</i></span>
																	</div>
																	<div class="comment-content">@childComment.Content</div>
																</div>
															</li>
														}
													</ul>
												}
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>




					<div class="comment289-box mt-4">
						<h3>Leave A Comment</h3>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<form method="post" asp-page-handler="AddComment">
									<div class="post9320-box">
										<input type="hidden" name="postId" value="@Model.Post.Id" />
										<input type="text" class="comment-input219882" placeholder="Enter Your Comment/Answer" name="content">
									</div>
									<button type="submit" class="pos393-submit">Comment</button>
								</form>
							</div>
						</div>
					</div>

				</div>
				<!--                end of col-md-12 -->
			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".reply-btn").click(function () {
				var replyForm = $(this).closest("li").find(".reply-form");
				replyForm.toggle();
			});
		});
	</script>




</body>

</html>