@page
@model GroupStudyUI.Pages.PostDetailModel
@{
	ViewData["Title"] = "Post Detail";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<link href="css/askqueststyle.css" rel="stylesheet" type="text/css">
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>

	<section class="main-content920">
		<div class="container">
			<div class="row">
				<div class="col-md-12">


					<div class="post-details">
						<div class="row">
							<div class="col-md-1">
								<div class="author-img202l">
									<a href="#"><img src="~/imgs/default_avatar.png" alt="image"> </a>
								</div>
							</div>
							<div class="col-md-11">
								<div class="details-header923">
									<div class="row">
										<div class="col-md-8">
											<h4>Author - @Model.AuthorPost.Name</h4>
											<div class="post-title-left129">
												<h3>@Model.Post.PostTitle</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="post-details-info1982">
									<p>@Model.Post.Content</p>
									<hr>
									<div class="ques-icon-info3293">
										<p style="margin-right: 20px"><i class="zmdi zmdi-time" aria-hidden="true"></i>@Model.Post.CreateTime.ToString("g")</p>
										<a href="@Model.Post.fileURL" style="margin-right: 20px" target="_blank" download>
											<i class="zmdi zmdi-folder" aria-hidden="true"></i>File Attach
										</a>
										<a href="#" style="margin-right: 20px"><i class="zmdi zmdi-bug" aria-hidden="true"></i>Report</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					@*=================================*@

					<div class="comment-list12993">
						<div class="container">
							<div class="row">
								<div class="comments-container">
									<ul id="comments-list" class="comments-list">
										@foreach (var comment in Model.listAllCommentOfPost.Where(c => c.ChildComment == null))
										{
											<li>
												<div class="comment-main-level">
													<div class="comment-avatar">
														<img src="~/imgs/default_avatar.png" alt="">
													</div>
													<div class="comment-box">
														<div class="comment-head">
															<h6 class="comment-name">@comment.CommentUser.Name</h6>
															<span><i class="fa fa-clock-o" aria-hidden="true">@comment.CreateDate.ToString("MMMM dd, yyyy 'at' h:mm tt")</i></span>
															<i class="fa fa-reply"></i> <i class="fa fa-heart"></i>
														</div>
														<div class="comment-content">@comment.Content</div>
													</div>
												</div>

												@if (comment.ParentComment.Count > 0)
												{
													<ul class="comments-list reply-list">
														@foreach (var childCommentMap in comment.ParentComment)
														{
															var childComment = childCommentMap.SubComment;
															<li>
																<div class="comment-avatar">
																	<img src="~/imgs/default_avatar.png" alt="">
																</div>
																<div class="comment-box">
																	<div class="comment-head">
																		<h6 class="comment-name">@childComment.CommentUser.Name</h6>
																		<span><i class="fa fa-clock-o" aria-hidden="true">@childComment.CreateDate.ToString("MMMM dd, yyyy 'at' h:mm tt")</i></span>
																		<i class="fa fa-reply"></i> <i class="fa fa-heart"></i>
																	</div>
																	<div class="comment-content">@childComment.Content</div>
																</div>
															</li>
														}
													</ul>
												}
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>



					<div class="comment289-box mt-4">
						<h3>Leave A Comment</h3>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<div class="post9320-box">
									<input type="text" class="comment-input219882" placeholder="Enter Your Comment/Answer">
								</div>
								<button type="button" class="pos393-submit">Comment</button>
							</div>

						</div>
					</div>
				</div>
				<!--                end of col-md-12 -->
			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>

</html>
